# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
env/
venv/

# logs
logs
api_logs

# Tempotary directory
tmp

.idea

# Data
data
data/*
data/hdsd_Sapo.pdf
data/vector_store.pkl
data/vector_store_demo.pkl
